
@{
    ViewBag.Title = "Create";
}

<h2>新增訂單資料</h2>
<form method="post" action="~/UserOrder/Create">
    @*若要伺服器跟客戶端做連接 需將按鈕type=Button改成submit。利用<form method="post" action="指定url">*@
<p>
    旅客訂單編號 <br />
    <input type="text" name="txtOrderID" />
</p>
<p>
    旅客編號 <br />
    <input type="text" name="txtGuestSN" />
</p>
<p>
    訂購日期 <br />
    <input type="text" name="txtOrderDate" />
</p>
<p>
    入住日期時間 <br />
    <input type="text" name="txtCheckInDate" />
</p>
<p>
    退房日期時間<br />
    <input type="text" name="txtCheckOutDate" />
</p>
<p>
    飯店房型編號 <br />
    <input type="text" name="txtHotelRoomTypeSN" />
</p>
<p>
    訂單備註 <br />
    <input type="text" name="txtOrderNotes" />
</p>
<p>
    訂單價格 <br />
    <input type="text" name="txtOrderPrice" />
</p>
<p>
    <input type="submit" value="送出" />
</p>
</form>

