
@{
    ViewBag.Title = "ADShow";
}

<h2>廣告預覽</h2>

<head>
    @*左右箭頭的樣式來源*@
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="~/css/cssADShow.css" />     
</head>
<body>
    <div class="container">
        <div class="warpper">
            <a class="slide-arrow" id="slideBefore"><i class="fas fa-chevron-left"></i></a>
            <a class="slide-arrow right" id="slideNext"><i class="fas fa-chevron-right"></i></a>
            <ul class="slider-img" id="slideImg">                
                @for (int i = 0; i < @ViewBag.adCount; i++)
                {
                    <li>
                        <a href="@ViewBag.adURL[i]">
                            <img src="~/ADImage/@ViewBag.adName[i]" alt="@(i+1)">
                        </a>
                    </li>
                }
            </ul>
            <ul class="pages" id="pages">
                @for (int i = 0; i < @ViewBag.adCount; i++)
                {
                    <li></li>
                }
            </ul>
            <div id="testDiv">

            </div>
        </div>
        <a href="~/AD/ADUpload">新增廣告</a><br />
        <a href="~/AD/ADList">廣告列表</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/jsADShow.js"></script>    
</body>